<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/tutorial/tutorial.css') }}">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Ajax, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- link to the JS Cookie library: https://github.com/js-cookie/js-cookie -->
    <script src="/path/to/js.cookie.js"></script>
    <script src="/path/to/jquery.cookie.js"></script>
    <!--BLOCKY Sources Here -->
    <script src="{{ url_for('static', filename='/blockly/blockly_compressed.js') }}"></script>
    <script src="{{ url_for('static', filename='/blockly/blocks_compressed.js') }}"></script>
    <script src="{{ url_for('static', filename='/blockly/javascript_compressed.js') }}"></script>
    <script src="{{ url_for('static', filename='/blockly/customblock.js') }}"></script>
    <script src="{{ url_for('static', filename='/blockly/msg/js/en.js') }}"></script>
    <script src="{{ url_for('static', filename='/tutorial/tutorial.js') }}"></script>
	
    {% if title %}
        <title>Project RoboCar - {{ title }}</title>
    {% else %}
        <title>Project RoboCar</title>
    {% endif %}
</head>
<body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
			  <a class="nav-item nav-link" href="/">Tutorials</a>
              <a class="nav-item nav-link" href="/logs">Logs</a>
			  <a class="nav-item nav-link" href="/dashboard">Dashboard</a>
			  <a class="nav-item nav-link" href="/configuration">Configurations</a>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main role="main" class="container">
		{% block content %}{% endblock %}
	</main>
</body>
</html>