 {% extends "layout.html" %}
 {% block content %}
 <div class="row">
        <div class="col-lg">
          <article class="media content-section">
            <div class="media-body">     
              <h2><a class="article-title" href="#">Game 1 Log 1</a></h2>
              <p class="article-content">all the past and current inputs displayed here</p>
              <p class="article-content">Distance Travelled: </p>
              <p class="article-content">Rotation: </p>
              <p class="article-content">obstacles Distance: </p>
              <p class="article-content">Time Spent: </p>
            </div>
            <p>
              <button type="button" onclick="">Resume Game</button>		
              </p>
        </article>
		</div>
      </div>
 {% endblock content %}