{% extends "layout.html" %}
{% block content %}
      <div class="row">
        <div class="col-lg">
          <article class="media content-section">
          <div class="media-body">     
            <h2><a class="article-title" href="#">Virtual Map</a></h2>
            <p class="article-content">displayed here</p>
          </div>
			</article>
		</div>
      </div>
	  <div class="row">
		  <div class="col-sm">
			  <div class="content-section">
				<h3>Speed</h3>
				<p class='text-muted'>Info here</p>
			  </div>
			</div>
			<div class="col-sm">
			  <div class="content-section">
				<h3>Acceleration</h3>
				<p class='text-muted'>Info here</p>
			  </div>
			</div>
			<div class="col-sm">
			  <div class="content-section">
				<h3>Distance Travelled</h3>
				<p class='text-muted'>Info here</p>
			  </div>
			</div>
	  </div>
	  <div class="row">
		  <div class="col-lg">
			  <article class="media content-section">
			  <div class="media-body">     
				<h2><a class="article-title" href="#">Terminal</a></h2>
				<p class="article-content">or buttons here</p>
			  </div>
				</article>
			</div>
	  </div>
{% endblock content %}