{% extends "layout.html" %}
{% block content %}
      <div class="row">	
		<div class="col-sm" id="blocklyDiv" style="height: 480px; width: 600px;"> 
			<xml id="toolbox" style="display: none">	
				<block type="moveup"></block>	
				<block type="movedown"></block>	
				<block type="moveleft"></block>	
				<block type="moveright"></block>	
				<block type="setspeed"></block>	
				<block type="math_number">
					<field name="NUM">30</field>
				</block>
			</xml>			
			<p>
				<button type="button" onclick="run()">Run</button>	
			</p>	
		</div>
        <div class="col-lg-8">
			<div class="row">
				<div class="col-9">
					<article class="media content-section">
						<div class="media-body">     
							<h2><a class="article-title">Virtual Map</a></h2>
							<div class="content-section" style="background-color: #333333;">
								<div id="virtualMap">
									<script type="text/javascript" src="{{ url_for('static', filename='/virtualMap/map.js') }}"></script>
								</div>
							</div>
						</div>
					</article>												
				</div>
				<div class="col">
					<div class="row">
						<div class="col">
							<div class="content-section">
								<h6>Stages</h6>
								<p class='text-muted'>Stage 1</p>
								<p class='text-muted'>Stage 2</p>
								<p class='text-muted'>Stage 3</p>
							 </div>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<div class="content-section">
								<h6>Legend</h6>
								<p class='text-muted'>Blue = Obstacle</p>
								<p class='text-muted'>Red = You</p>
								<p class='text-muted'>White = Path</p>
								<p class='text-muted'>Green = Finish Line</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
			 <div class="col">
			  <div class="content-section fixed">
				<h6>Distance Travelled</h6>
				<p class='text-muted'>Info here</p>
			  </div>
			</div>
			<div class="col">
			  <div class="content-section fixed">
				<h6>Rotation</h6>
				<p class='text-muted'>Info here</p>
			  </div>
			</div>
			<div class="col">
			  <div class="content-section fixed">
				<h6>Obstacle Distance</h6>
				<p class='text-muted'>Info here</p>
			  </div>
			</div>
			<div class="col">
			  <div class="content-section fixed">
				<h6>Acceleration</h6>
				<p class='text-muted'>Info here</p>
			  </div>
			</div>
			<div class="col">
			  <div class="content-section fixed">
				<h6>Time Spent</h6>
				<p class='text-muted'>Info here</p>
			  </div>
			</div>
			</div>
		</div>
		 
      </div>
			<script>
				var workspace = Blockly.inject('blocklyDiv',
				{toolbox: document.getElementById('toolbox')});
				
				function run(){
					//window.LoopTrap = 1000;
					//Blockly.JavaScript.INFINITE_LOOP_TRAP = 'if (--window.LoopTrap == 0) throw "Infinite loop.";\n'; 
					var code = Blockly.JavaScript.workspaceToCode(workspace);
					//Blockly.JavaScript.INFINITE_LOOP_TRAP = null;
					$.post("/", code);		
				}			
			</script>
			
	  
{% endblock content %}