{% extends "layout.html" %}
{% block content %}
<script>
$(function(){
	window.setInterval(function(){
		loadmspVal()
	},1000)

async function loadmspVal(){
	$.ajax({
		url:"/update_mspvalues",
		type: "POST",
		dataType:"json",
		success: function(data){
			$(msp_val).replaceWith(data)
		}

		});
	}
});
</script>

      <div class="row">	
		<div class="col-sm" id="blocklyDiv" style="height: 480px; width: 600px;"> 
			<xml id="toolbox" style="display: none">	
				<block type="moveup"></block>	
				<block type="movedown"></block>	
				<block type="moveleft"></block>	
				<block type="moveright"></block>	
				<block type="setspeed"></block>	
				<block type="math_number">
					<field name="NUM">30</field>
				</block>
			</xml>			
			<p>
				<button type="button" onclick="run()">Run</button>	
			</p>	
		</div>
        <div class="col-lg-8">
			<div class="row">
				<div class="col-9">
					<article class="media content-section">
						<div class="media-body">     
							<h2><a class="article-title">Virtual Map</a></h2>
							<div class="content-section" style="background-color: #333333;">
								<div id="virtualMap">
									<script type="text/javascript" src="{{ url_for('static', filename='/virtualMap/map.js') }}"></script>
								</div>
							</div>
						</div>
					</article>												
				</div>
				<div class="col">
					<div class="row">
						<div class="col">
							<div class="content-section">
								<h6>Stages</h6>
								<p class='text-muted'>
								<button type"button">Stage 1</button>
								<button type"button">Stage 2</button>
								<button type"button">Stage 3</button>
								</p>
							 </div>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<div class="content-section">
								<h6>Legend</h6>
								<figure> <p class='noselect'>Car: <img style="width:20px; height:20px;" src="{{ url_for('static', filename='/assets/red.png') }}"
								alt="Car"></figure>
								<figure> <p class='noselect'>Obstacle: <img style="width:20px; height:20px;" src="{{ url_for('static', filename='/assets/blue.png') }}"
								alt="Obstacle"></figure>
								<figure> <p class='noselect'>End Point: <img style="width:20px; height:20px;" src="{{ url_for('static', filename='/assets/green.png') }}"
								alt="End Point"></figure>
								<figure> <p class='noselect'>Empty Path: <img style="width:20px; height:20px;" src="{{ url_for('static', filename='/assets/white.jpg') }}"
								alt="Empty Path"></figure>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
			 <div class="col">
			  <div class="stats-section fixed">
				<h6>Distance Travelled</h6>
				<p class='noselect'>{{row["distance_travelled"]}}</p> 
			  </div>
			</div>
			<div class="col">
			  <div class="stats-section fixed">
				<h6>Rotation</h6>
				<p class='noselect'>{{row["rotation"]}}</p>
			  </div>
			</div>

			<div class="col" id="msp_val">
			  <div class="content-section fixed">
				<h6>Obstacle Distance</h6>
				<p class='noselect'>{{mspval}}</p>
				<!-- <p class='noselect'>{{row["obstacle_distance"]}}</p> -->
			  </div>
			</div>
			<div class="col">
			  <div class="stats-section fixed">
				<h6>Acceleration</h6>
				<p class='noselect'>{{row["acceleration"]}}</p>
			  </div>
			</div>
			<div class="col">
			  <div class="stats-section fixed">
				<h6>Time Spent</h6>
				<p class='noselect'><label id="minutes">00</label>:<label id="seconds">00</label></p>
			  </div>
			</div>
			</div>
		</div>
		 
      </div>
			<script>
				var workspace = Blockly.inject('blocklyDiv',
				{toolbox: document.getElementById('toolbox')});
				
				function run(){
					var code = Blockly.JavaScript.workspaceToCode(workspace);
					$.post("/dashboard", code);
					// workspace = "moveright/moveleft" :: string
					// console.log(code)
					var data = "moveleft";
					$.post("/send_command", code);
				}			

				var minutesLabel = document.getElementById("minutes");
				var secondsLabel = document.getElementById("seconds");
				var totalSeconds = 0;
				setInterval(setTime, 1000);

				function setTime() {
					++totalSeconds;
					secondsLabel.innerHTML = pad(totalSeconds % 60);
					minutesLabel.innerHTML = pad(parseInt(totalSeconds / 60));
				}

				function pad(val) {
				var valString = val + "";
				if (valString.length < 2) {
					return "0" + valString;
				} else {
					return valString;
					}
				}
			</script>  
{% endblock content %}

