 {% extends "layout.html" %}
 {% block content %}
 <div class="row">
        <div class="col-lg">
			<h2><a class="article-title">Tutorial 1: Introduction to UI</a></h2>
			<article class="media content-section">
			  <div class="media-body videoContainer">     
				<iframe class="responsive-iframe" src="https://www.youtube.com/embed/LKhm_yAtAWs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				
				<!-- <iframe width=100% height=100% src="https://www.youtube.com/embed/LKhm_yAtAWs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
			</div>
			</article>
			<article class="media content-section">
			  <div class="media-body">     
				<h3>Overview</h3>
				<p>Familarise with the User Interface; How to navigate through the virtual map and understand the purpose of checkpoints.</p>
			  </div>
			</article>
		</div>
      </div>
 {% endblock content %}