 {% extends "layout.html" %}
 {% block content %}
 <div class="row">
        <div class="col-lg">   
					<h2>Lesson Plan</a></h2>
					<div class="col-lg">
						<article class="media content-section">
							<div class="media-body">
								<h2><a class="article-title" href="/tutorials/tutorial1">Tutorial 1</a></h2>
								<p class="article-content">Lesson 1 - Get used to UI (teach them the UI interfaces, how to navigate, checkpoints …</p>
							</div>	
						</article>
						<article class="media content-section">
							<div class="media-body">
								<h2><a class="article-title" href="/tutorials/tutorial2">Tutorial 2</a></h2>
								<p class="article-content">Lesson 2 - Showcase all commands (how to construct the codes to move car)</p>
							</div>	
						</article>
						<article class="media content-section">
							<div class="media-body">
								<h2><a class="article-title" href="/tutorials/tutorial3">Tutorial 3</a></h2>
								<p class="article-content">Lesson 3 - Use Physical Maps (how to place obstacles on map, how to correlate virtual map & physical)</p>
							</div>	
						</article>
					</div>
		</div>
 </div>
 {% endblock content %}