 {% extends "layout.html" %}
 {% block content %}
 <div class="row">
        <div class="col-lg">   
					<h2>Lesson Plan</a></h2>
					<br>
					<div class="col-lg">
						<!-- To be replaced by foreach from Database -->
						<article class="media content-section">
							<div class="media-body">
								<h3><a class="article-title" href="/tutorial1">Tutorial 1 : Introduction to UI</a></h3>
								<p class="article-content">
									Lesson 1 - Get used to UI (teach them the UI interfaces, how to navigate, checkpoints … 
								</p>
								<button type="button" class="btn btn-primary col-sm-12" onclick="location.href = '/tutorial1';" >Start</button>
							</div>	
						</article>
						<article class="media content-section">
							<div class="media-body">
								<h3><a class="article-title" href="#">Tutorial 2 : Learning Commands</a></h3>
								<p class="article-content">Lesson 2 - Showcase all commands (how to construct the codes to move car)</p>
								<button type="button" class="btn btn-primary col-sm-12" onclick="location.href = '/tutorial2';" >Start</button>
							</div>	
						</article>
						<article class="media content-section">
							<div class="media-body">
								<h3><a class="article-title" href="#">Tutorial 3 : Learning Virtual and Physical Maps</a></h3>
								<p class="article-content">Lesson 3 - Use Physical Maps (how to place obstacles on map, how to correlate virtual map & physical)</p>
								<button type="button" class="btn btn-primary col-sm-12" onclick="location.href = '/tutorial3';" >Start</button>
							</div>	
						</article>
					</div>
		</div>
 </div>
 {% endblock content %}