{% extends "layout.html" %}
{% block content %}
<div class="row">
	   <div class="col-lg">   
			   <h2>Lesson Plan</a></h2>
			   <br>
			   <div class="col-lg">
				   <!-- To be replaced by foreach from Database -->
				   {% for row in rows %}
				   <article class="media content-section">
					   <div class="media-body">
						   <h3><a class="article-title" href="/tutorial/{{row['tutorialID']}}">Tutorial {{row["tutorialID"]}} : {{row["tutorialName"]}}</a></h3>
						   <p class="article-content">
							   {{row["tutorialOverview"]}}… 
						   </p>
						   <a href="/tutorial/{{row['tutorialID']}}"><button type="button" class="btn btn-primary"  style="float: right;">Start</button></a>
					   </div>	
				   </article>
				   {% endfor %}
			   </div>
	   </div>
</div>
{% endblock content %}