
{% extends "layout.html" %}
{% block content %}
{% for row in rows %}
<div class="row">
	   <div class="col-lg">
		   <h2><a class="article-title">Tutorial {{row["tutorialID"]}} : {{row["tutorialName"]}}</a></h2>
		   <article class="media content-section">
			   <div class="media-body">     
				 <h3>Overview</h3>
				 <p>{{row["tutorialOverview"]}}</p>
			   </div>
			 </article>
		   <article class="media content-section">
			 <div class="media-body videoContainer">     
			   <iframe class="responsive-iframe" src="{{ row['tutorialVideo']}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			   
			   <!-- <iframe width=100% height=100% src="https://www.youtube.com/embed/LKhm_yAtAWs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
		   </div>
		   </article>
		   <div class="row d-flex flex-row-reverse" style="text-align: right;">
			   <button id="backBtn" class="btn submit-btn p-2" onclick="goBack()">Back</button>
			   {% if row['tutorialID'] != last_id["tutorialID"] %}
			   <a href="/tutorial/{{row['tutorialID'] + 1}}"><button type="button" class="btn nextTutorial-btn p-2"  value="Next Tutorial" id="nextTutorial">Next</button></a>
			   {% endif %}
			</div>
	   </div>
	   {% endfor %}
	 </div>
{% endblock content %}