 {% extends "layout.html" %}
 {% block content %}
 <div class = "table-responsive">
  <table class = "table table-borderless">
    <tbody>
      {% for row in rows %}
        <tr class = "d-flex">
            <th class = "col-8">
              <h4>Log {{row["logID"]}}</h4>
            </th>
            <td class = "col-4"> 
              <a href = "/logs/log{{row['logID']}}" class="details">View details</a> 
            </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock content %}